[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
CurrencyConverter = ">=0.13.3"
tabulate = "*"
python-dateutil = "*"
requests = "*"

[dev-packages]
mypy = "*"
pytest = "*"

[requires]
python_version = "3.6"
