[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
CurrencyConverter = ">=0.13.3"
tabulate = "*"
python-dateutil = "*"
requests = "*"
"beautifulsoup4" = "*"
pandas = "*"
pydash = "*"
matplotlib = "*"
joblib = "*"

[dev-packages]
mypy = "*"
pytest = "*"
"flake8" = "*"
